# App Configuration
NODE_ENV=
PORT=

# AWS Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Endpoints
AWS_ENDPOINT=

# Database
DYNAMODB_TABLE_NAME=

# Storage
S3_BUCKET_NAME=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=
